portal/wsdl_qas900/PORTALBPMISendMsgControllerImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cttq.com/PORTAL_BPMI_SendMsgController/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PORTAL_BPMI_SendMsgController" targetNamespace="http://www.cttq.com/PORTAL_BPMI_SendMsgController/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cttq.com/PORTAL_BPMI_SendMsgController/">
      
      <xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>currUsrId</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element> 
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>domain</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:string"/>
					<xsd:element name="Value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<!-- part 4 start -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Type</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Code</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Message</xsd:documentation>
						</xsd:annotation>
					</xsd:element>


				</xsd:sequence>
			</xsd:complexType>
			<!-- part 4 end -->

			<!-- part 5 start -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>SerialNo</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- part 5 end -->
      
      <xsd:element name="PORTALBPMI_SendMsgController" type="tns:PORTALBPMISendMsgController">

      </xsd:element>

    
        
      <xsd:complexType name="PORTALBPMISendMsgController">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:PORTALBPMISendMsgControllerInput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="PORTALBPMISendMsgControllerResponse">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:PORTALBPMISendMsgControllerOutput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="PORTALBPMISendMsgControllerInput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:AbstractType">
      			<xsd:sequence>














      				<xsd:element maxOccurs="unbounded" minOccurs="0" name="msgList" type="tns:MsgList">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="PORTALBPMISendMsgControllerOutput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:ReturnCode"/>
            	</xsd:complexContent>
            </xsd:complexType>
    
            <xsd:complexType name="MsgList">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="msgCode" type="xsd:string">
            		</xsd:element>



            		<xsd:element maxOccurs="1" minOccurs="0" name="sendUID" type="xsd:string">
            		</xsd:element>









                    <xsd:element maxOccurs="1" minOccurs="0" name="saveInfo" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="args" type="tns:Entry">
            		</xsd:element>

            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="PORTALBPMI_SendMsgControllerResponse" type="tns:PORTALBPMISendMsgControllerResponse">

            </xsd:element>
    
        
            <xsd:complexType name="InfoList">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="sysCode" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="bussType" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="opeType" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="sendObj" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="sendUid" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PORTALBPMI_SendMsgControllerRequest">
    <wsdl:part element="tns:PORTALBPMI_SendMsgController" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PORTALBPMI_SendMsgControllerResponse">
    <wsdl:part element="tns:PORTALBPMI_SendMsgControllerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PORTALBPMI_SendMsgControllerResponse2">
  	<wsdl:part element="tns:PORTALBPMI_SendMsgControllerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="PORTAL_BPMI_SendMsgController">
    <wsdl:operation name="PORTALBPMI_SendMsgController">
      <wsdl:input message="tns:PORTALBPMI_SendMsgControllerRequest"/>

      <wsdl:output message="tns:PORTALBPMI_SendMsgControllerResponse2">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.cttq.com/PORTAL_BPMI_SendMsgController/" name="PORTAL_BPMI_SendMsgController_Binding" type="ptns:PORTAL_BPMI_SendMsgController">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PORTALBPMI_SendMsgController">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PORTAL_BPMI_SendMsgController">
<wsdl:port xmlns:bprf="http://www.cttq.com/PORTAL_BPMI_SendMsgController/" binding="bprf:PORTAL_BPMI_SendMsgController_Binding" name="PORTAL_BPMI_SendMsgController_Port">
<soap:address location="http://cpq.cttq.com:52200/PORTAL_BPMI_SendMsgController/PORTALBPMISendMsgControllerImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>